.user-component .exclamation{
    position: absolute;
    border: 2px solid tomato;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    right: -30px;
    bottom: 10px;
    font-weight: 600;
    color: tomato;
    text-align: center;
    line-height: 20px;
}