.user-component .exclamation{
    position: absolute;
    border: 2px solid var(--mycolor-red);
    background-color:var(--mycolor-black);
    width: 20px;
    height: 20px;
    border-radius: 14px;
    right: -30px;
    bottom: 12px;
    font-weight: 600;
    color: var(--mycolor-red);
    text-align: center;
    line-height: 20px;
}